* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



nav {
    display: flex;
    margin-left: 800px;
    align-items: center;
    color: #202020;
}

.logo {
    font-weight: 800px;
    font-size: 25px;
    margin-top: 20px;
    margin-right: 180px;
}

.nav-itens {
    list-style: none;
    display: flex;
    
    
}

.nav-itens>li>a {
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    color: #202020;
    text-decoration: none;  
    margin: 20px;
    
}

.btn {
    display: flex; 
     
}

.nav-itens li a:hover {
    color: #5da4d1;
    transition: 0.5s;
    
}

.login {
    padding: 15px 80px  10px  48px ;
    font-size: 10px;
    background-color: #dcdcdc;
    border: none;
    color: #130d0d;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-right: 30px;
    
   
    
}



.cadastro {
    padding: 15px 80px  10px  42px ;
    font-size: 10px;
    background-color: #ffc222;
    border: none;
    
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.cadastro:hover {
    color: #5da4d1;
    transition: 1s;
}



/* estilização da imagem do cachorro */


.container {
    width: 130vh;
    height: 100vh;
    background-image: url("arquivos-img/meu-png.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
    


